<launch>
	<arg name="gui" default="true"/>

	<param name="robot/name" value="NextageOpen"/>
	<param name="robot_description" textfile="$(find nextage_description)/urdf/NextageOpen.urdf"/>
	<param name="use_gui" value="$(arg gui)"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<param name="port" value="9090"/>
	</include>

	<node name="file_server" pkg="file_server" type="file_server" output="screen"/>
</launch>
