<launch>

	<param name="robot/name" value="Turtlebot2"/>

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<param name="port" value="9090"/>
	</include>

	<node name="file_server" pkg="file_server" type="file_server" output="screen"/>

	<include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
	</include>
	
</launch>
