<launch>

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<param name="port" value="9090"/>
	</include>




	<node name="file_server" pkg="file_server" type="file_server" output="screen"/>

	


	<arg name="base"  default="$(env TURTLEBOT_BASE)" />
	<arg name="stacks"  default="$(env TURTLEBOT_STACKS)" />
	<arg name="3d_sensor"  default="$(env TURTLEBOT_3D_SENSOR)"/>

	<arg name="urdf_file" default="$(find xacro)/xacro.py '$(find turtlebot_description)/robots/$(arg base)_$(arg stacks)_$(arg 3d_sensor).urdf.xacro'" />
	<param name="robot_description" command="$(arg urdf_file)" />

</launch>


