<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net35" requireReinstallation="true" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net35" />
  <package id="WebSocketSharp-NonPreRelease" version="1.0.0" targetFramework="net35" />
</packages>